.container-sliderproduct {
    width: 100%;
    height: 100%;

    // .default-nav {
    //     display: none !important;
    // }


    .each-slide {
        text-align: center;
        // padding: 10px 0;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px;
    }


}