.menu-img-container {
    .menu-top {
        display: flex;
        justify-content: space-between;

        .slide {
            max-width: 600px;
            height: 400px;


            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .imgs-top-right {
            .img-top-right {}
        }
    }

    .menu-bottom {
        display: flex;
    }
}