.container-smallproduct {
    max-width: 25%;
    height: 400px;
    padding: 10px 10px 20px 10px;
    margin-bottom: 30px;
    transition: 0.5s;

    &:hover {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .smallproduct {
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
        background-color: white;


        &:hover {
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.75);
        }

        .decrease {
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            background-color: #FF424E;
            width: auto;
            height: 20px;
            position: absolute;
            top: 0;
            right: 0px;
            padding: 0 10px;

            span {
                font-size: 0.95rem;
            }
        }

        .smallproduct-infor {
            .smallproduct__content {
                padding: 5px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;


                .smallproduct__content--name {
                    font-size: 18px;
                    font-weight: 510;
                    height: 46.8px;

                    p {
                        text-align: center;
                        line-height: 1.3;
                        margin-top: .1em;
                        margin-bottom: .1em;
                    }
                }

                .smallproduct__content--price {
                    min-width: 65%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 15px;
                    margin-bottom: 5px;

                    .price {
                        text-decoration: line-through;
                        color: rgba(125, 178, 73, 0.6);
                    }

                    .price-sale {
                        color: #7db249;
                        font-weight: 600;
                    }
                }

                .add-to-cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 90%;
                    color: #7db249;
                    border: 2px solid #7db249;
                    border-radius: 1.35rem;
                    font-size: 12px;
                    font-weight: 600;
                    transition: 0.5s;

                    &:hover {
                        background-color: #7db249;
                        color: white;
                    }

                    button {
                        text-align: center;
                    }
                }
            }
        }
    }
}