.menu-product-container {
    width: 100%;

    .menu-product {
        display: flex;
        justify-content: space-between;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;

        .menu-list {
            margin-left: 10px;
            height: fit-content;
            width: 240px;
            border: 1px solid #E0E0E0;
            box-shadow: 3px 3px 5px rgba(57, 59, 59, 0.418);

            .title-product {
                span {
                    font-size: 15px !important;
                }
            }

            .name-product {
                span {
                    font-size: 14px !important;
                }
            }
        }

        .menu-img {}
    }
}