.container-review {
    .title-review {
        padding-top: 30px;
    }

    .card-review {
        display: flex;
        max-width: 1242.5px;
        margin-left: auto;
        margin-right: auto;
    }
}