.container-title-section {
    text-align: center;
    margin-bottom: 1em;

    .header-tour {
        font-size: 35px;
        font-weight: 700;
        color: #67a448;
        // font-size: 130%;
    }
}