.container-listproduct {
    // background-color: #F7F7F7;
    height: fit-content;

    .listproduct {
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;

        .listproduct__blank {
            padding-top: 30px;
        }

        .listproduct__title {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            b {
                display: block;
                -ms-flex: 1;
                flex: 1;
                height: 2px;
                opacity: .1;
                background-color: currentColor;
            }

            .listproduct__title--text {
                color: rgb(125, 178, 73);
                font-weight: 700;
                font-size: 1.6rem;
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        .listproduct__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;

            .css-1gsv261 {
                border: none;
                font-size: 20px !important;

                .css-1pvfc2b-MuiTabs-root {
                    background-color: white;
                }
            }

            .css-1wcaknn {
                padding: 20px 5px 20px 5px;
            }


        }
    }
}